* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

h1 {
    color: #14835e;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    text-decoration: overline;
}
#primeiro-paragrafo {
    color: #145988;
    font-size: 40px;
    text-align: justify;
    margin-left: 40px;
    text-decoration: underline;
}
p {
    color: #8f8bf9;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 20px;
}
.paragraf {
    color: #145988;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
}
ul, ol {
    color: #8f8bf9;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    line-height: 26px;
}
a {
    text-decoration: none;
}
#minhafoto{
    margin-bottom: 30px;
}
img {
    height: 400px;
    width: 400px;
}
